.header{
   width: 100vw;
   /* background-color: rgb(51, 246, 7); */
   border-bottom: 2px solid #E9EBED;
   height: 10vh;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}
.header_img{
   height: 5vh;
   border-radius: 10px;
   margin-left: 2vw;
}
.header_img:hover{
   cursor: pointer;
}
.header_searchBx{
   display: flex;
   height: 5vh;
   width: 15vw;
   margin-right: 4vw;
   border: 1px solid #C0C4CC;
   border-radius: 2px;
   align-items: center;
   padding: 0 0.4vw;
}
.header_searchBx>img{
   height: 50%;
}
.header_searchBx>img:hover{
   cursor: pointer;
}
.header_searchBx>input{
   font-family: 'Inter';
   font-weight: 400;
   font-size: 16px;

   display: flex;
   align-items: center;
   letter-spacing: -0.01em;
   margin-left: 0.8vw;
   
   border: none;
   width: 100%;
   outline-style: none;
   /* background-color: aquamarine; */
}